<!DOCTYPE html>
<html>
<head>
    <style>
        body {background-color: powderblue;}
        h1   {color: blue;}
        h3    {color: red;}
        h2  {color:blueviolet;}
        </style>
    <body>
<br>
    <h1 align="center">My First Page with Google App Engine and Google Cloud Storage</h1>
    <p align="center"><img src="https://storage.googleapis.com/dicoding-storage-021296/Sepeda%20copy.png" alt="Italian Trulli"></p></br>
    <h3 align="center">My name Indra Purnama Hadi.</h3>
    <h2 align="center">Thanks to dicoding.com for allowing me to join this class</h2>
</div>     
    </body>
</head>    

</html>